body {
	background-color: #265;
	color: #fff;
	text-align: center;
}

h1 {
	margin-bottom: 1em;
}

img.tile {
	width: 45px;
	height: 60px;
	display: inline;
	padding: 2px;
	background-image: url(./riichi-mahjong-tiles/Regular/Front.svg);
	background-size: 49px 64px;
	margin-left: 1px;
	margin-right: 1px;
}

img.tile.closed {
	width: 49px;
	height: 64px;
	padding: 0px;
	background-image: none;
}

img.tile#bakaze, img.tile#jikaze {
	background-image: none;
}

table#scenariotable td {
	padding: 2px 10px;
}

table#handtable td {
	white-space: nowrap;
}

#naki, #agari {
	padding-left: 7px;
	padding-right: 7px;
}

#hand, #naki, #agari {
	display: inline;
}

#riibou {
	/* positioning */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;

	/* shape/size */
	width: 260px;
	height: 20px;
	border-radius: 5px;
	background: #049;
}

#riibou p {
	text-align: center;
	color: #fff;
	font-size: 2em;
	transform: translate(0%,-25%);
}

a {
	color: #fff;
}
