img {
	width: 30px;
	height: 40px;
	display: inline;
	padding: 4px 3px;
	background-image: url(./riichi-mahjong-tiles/Regular/Front.svg);
	background-size: 36px 48px;
	margin-right: 1px;
}

#naki, #agari {
	padding-left: 15px;
}

#hand, #naki, #agari {
	display: inline;
}
